*~
*.o
*.d
*.gcda
*.gcno
*.rej
*.swp
skiboot-nosection.elf
skiboot.elf
skiboot.lds
skiboot.lid
skiboot.map
skiboot.info
coverage-report/
TAGS
tags
cscope.out
asm/asm-offsets.s
include/asm-offsets.h
version.c
core/test/run-device
core/test/run-malloc
core/test/run-malloc-speed
core/test/run-mem_region
core/test/run-mem_region_init
core/test/run-mem_region_release_unused
core/test/run-mem_region_release_unused_noalloc
core/test/run-msg
core/test/run-pel
core/test/run-pool
core/test/run-trace
core/test/*-gcov
external/dump_trace
hdata/test/hdata_to_dt
libc/test/run-time
libc/test/run-time-gcov
libflash/test/test-flash
libflash/test/test-flash-gcov
test/hello_world/hello_kernel/hello_kernel
VERSION
